@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    height: 100vh;
}
h1 
{
    
    margin-top: 40px;
    margin-left: 77px;
    color: #333;
    font-family: 'Inconsolata';
    font-weight: bold;
    font-size: 24px;
}
.container
{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.image 
{
    height: 447px;
    width: 539px;
    background: url(Scarecrow.png);
    background-size: cover;
    object-fit: cover;
    margin: 60px;
}

.content 
{
   margin-top: 80px;
}
.content h2 
{
    font-size: 64px;
    font-family: 'Space Mono';
    width: 590px;
    height: 190px;
    color: #333;
    font-weight: 700;
}
.content p
{
    font-size: 24px;
    font-family: 'Space Mono';
    font-weight: 400;
    color:  #4F4F4F;
    height: 108px;
    width: 389px;
    margin-top: 36px;
    margin-bottom: 80px;
}
.content a 
{
    text-decoration: none;
    color: #fff;
    background: #333;
    padding: 22px;
    font-family: 'Space Mono';
    font-weight: 700;
}
.footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    color: #BDBDBD;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.footer a 
{
    text-decoration: none;
    color: #BDBDBD;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

@media (max-width: 768px)
{
    h1
    {
        margin-top: 20px;
        margin-left: 24px;
    }
    .image 
    {
        height: 238px;
        width: 287px;
        margin: 40px;
    }
    .content
    {
        margin-top: 30px;
        width: 100%;
    }
    .content h2 
    {
        width: 350px;
        height: 142px;
        font-size: 44px;
        margin-left: 24px;
    }
    .content p
    {
        margin-top: 24px;
        margin-left: 24px;
        font-size: 18px;
        width: 320px;
        height: 81px;
    }
    .content a 
    {
        position: relative;
        font-size: 14px;
        padding: 14px;
        margin-left: 24px;
        bottom: 40px;
    }
    .footer p
    {
        font-size: 14px;
    }
    .footer a 
    {
        font-size: 14px;
    }
    .footer
    {
        width: 100%;
        position: initial;
    }
}

